header {
  width: 100%;
  background-color: rgb(42, 104, 165);
  color: white;
  text-align: center;
}

.main{
  min-height: 100%;
  position: relative;
}

.content{
  margin: auto;
  font-size: 1.2rem;
  background-color: white;
  text-align:  center;
}

.error_message h2{
  margin: 0;
  text-align: center;
}

.error_message p{
  margin: 0;
  text-align: center;
}

.post_content{
  text-align: center;
}

.link{
  text-decoration: wavy;
  color: blueviolet;
}

.new_button{
  text-align: center;
}

.back_button{
  text-align: center;
}

.new_link{
  font-size: 1.3rem;
  text-decoration: none;
  background-color: rgb(0, 255, 115);
}

.back_link{
  background-color: rgb(0, 255, 115);
  font-size: 1.3rem;
  text-decoration: none;
}

.button{
  text-align: center;
  color: aqua;
}



footer {
position: absolute;
width: 100%;
bottom: 0;
height: 50px;
background-color: rgb(42, 104, 165);
color: white;
text-align: center;
}
